html, body {
   margin: 0;
}

.body, .lower {
    background-color: #0A1719;
}

.upper {
    background-color: #EDF1F2;
}

.header-image {
    padding: 0px 20px 0px 30px;
    width: 100;
    height: 90;
}

.heading {
    font-family: 'RubikBold', sans-serif;
    margin: 0px;
}

.content {
    font-family: 'Rubik Medium', sans-serif;
}

.item {
    font-family: 'Rubik Medium Bold', sans-serif; 
    font-weight: bold;
}

.disclaimer {
    font-family: 'Rubik Medium', sans-serif;
    font-size: 8pt;
}

.half {
    padding: 0px 20px 0px 20px;
    width: 50%;
}

.default {
    padding: 10px 20px 10px 20px;
}

.lower .content {
    color: white;
}

.lower .disclaimer {
    color: #3FA3BA;
}

.bullet {
    list-style-image: url("/we-wash/assets/bullet.svg");
}

.form {
    font-size: 0;
}

.box {
    height: 40px;
    border-style: none;
}

.email {
    border-top-left-radius: 5pt;
    border-bottom-left-radius: 5pt;
    width: 80%;
    padding-left: 10px;
}

.register {
    border-top-right-radius: 5pt;
    border-bottom-right-radius: 5pt;
    background-color: #EA8F97;
    width: 20%;
}


