html, input {
    font-family: 'Rubik', sans-serif;
}

html, body {
    margin: 0;
    line-height: 1.6;
    color: #0A1719;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}
@media only screen and (min-width: 500px) {
    h3 {
        font-size: 24px;
        font-weight: 500;
    }
}

.base {
    background-color: #EDF1F2;
}

.container {
    max-width: 840px;
    margin: auto;
    border-top: #0A1719 6px solid;
}

@media only screen and (min-width: 500px) {
    .half {
        width: 75%;
    }
}

.logo {
    padding-bottom: 20px;
    width: 160px;
}

@media only screen and (min-width: 500px) {
    .logo {
        width: 218px;
        height: 112px;
    }
}

.header-image {
    padding-top: 20px;
    padding-right: 20px;
    width: 25%;
    float: right;
}

.sign-up {
    background-color: #0A1719;
    margin-bottom: 8rem;
}

.sign-up .content {
    color: white;
}

.sign-up .disclaimer {
    color: #3FA3BA;
}

.disclaimer {
    max-width: 300px;
    margin-bottom: 1rem;
}

.heading {
    font-size: 24px;
    margin: 0px;
    line-height: 1.2;
    font-weight: 600;
}

@media only screen and (min-width: 500px) {
    .heading {
        font-size: 48px;
    }
}

.content {
    font-size: 16px;
}

@media only screen and (min-width: 500px) {
    .content {
        font-size: 21px;
    }
}

.small-content {
    font-size: 12px;
}

.item {
    font-weight: 500;
    text-indent: 0.6rem;
}

.default {
    padding: 10px 20px 10px 20px;
}

.bullet {
    list-style-image: url("../assets/bullet.svg");
    padding-left: 1rem;
}

.box {
    height: 40px;
    font-size: 16px;
    border-style: none;
}

@media only screen and (min-width: 500px) {
    .box {
        height: 4.2rem;
        font-size: 24px;
    }
}

input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    width: 60%;
    padding-left: 10px;

    -webkit-appearance: button;
    -moz-appearance: none;
    appearance: none;
}

input[type='submit'] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-radius: 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background-color: #EA8F97;
    color: white;
    width: 40%;

    -webkit-appearance: button;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.icons {
    padding-bottom: 20px;
}


