html, body {
   margin: 0;
}

.base {
    background-color: #EDF1F2;
}

.container {
    max-width: 840px;
    margin: auto;
}

.half {
    width: 75%;
}

.logo {
    padding-bottom: 20px;
    height: 112px;
    width:218px;
}

.header-image {
    padding-top: 20px;
    padding-right: 20px;
    width:25%;
    float: right;
}

.sign-up {
    background-color: #0A1719;
}

.sign-up .content {
    color: white;
}

.sign-up .disclaimer {
    color: #3FA3BA;
}

.heading {
    font-family: 'RubikBold', sans-serif;
    font-size: 48pt;
    padding-left: 20px;
    margin: 0px;
}

.content {
    font-family: 'Rubik', sans-serif;
    font-size: 21pt;
}

.disclaimer {
    font-family: 'Rubik', sans-serif;
    font-size: 12pt;
}

.item {
    font-weight: bold;
}

.default {
    padding: 10px 20px 10px 20px;
}

.bullet {
    list-style-image: url("/we-wash/assets/bullet.svg");
}

.form {
    font-size: 0;
}

.box {
    height: 40px;
    border-style: none;
}

.email {
    border-top-left-radius: 5pt;
    border-bottom-left-radius: 5pt;
    width: 60%;
    padding-left: 10px;
}

.register {
    border-top-right-radius: 5pt;
    border-bottom-right-radius: 5pt;
    background-color: #EA8F97;
    width: 20%;
}


